/* Table of contents */
/* 1. Text */
/* 2. Image */
/*3. Slider */

/* 1. Text */
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

/* 2. Image */
.parent{
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.levels{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    position: absolute;
    top: 37%;
}

.levels img {
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal;
    
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hidden {
    display: none;
}

/*3. Slider */
.slidecontainer {
    display: flex;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4f5354;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #bfc0c1;
    cursor: pointer;
}

